{% extends "base.html" %}
{% block title %} History of the Internet and the Web {% endblock %}

{% block header %}
    <header>
        <h1>History of the Internet and the Web</h1>
        <p>Explore the evolution of the internet and the world wide web.</p>
    </header>
{% endblock %}

{% block navigation %}
<nav>
     <a href="/">Home</a> |
     <a href="/internet-history">History of the Internet</a> |
     <a href="/web-history">History of the Web</a> |
     <a href="/web-history-ai">History of the Web created with AI</a> |
     <a href="/internet-history-ai">History of the Internet created with AI</a> 
    </nav>
{% endblock %}

    
       {%block content %}{% endblock %}
    

    

