<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {%block title %} History {% endblock %}</title>
    <link rel="stylesheet" 
      href="{{ url_for('static', filename='style.css') }}" 
/>
</head>
<body>
    <header>
        <h1>History of the Internet and the Web</h1>
        <p>Explore the evolution of the internet and the world wide web.</p>
    </header>

<nav>
     <a href="/">Home</a> |
     <a href="/internet-history">History of the Internet</a> |
     <a href="/web-history">History of the Web</a> |
     <a href="/web-history-ai">History of the Web created with AI</a> |
     <a href="/internet-history-ai">History of the Internet created with AI</a> 
    </nav>

    <main>
       {%block content %}{% endblock %}
    </main>

    <footer>
    <p>Web Programming — built with Flask and deployed on Render.</p>
    <p>This website is created for educational purposes only, as part of the GIN446 - Web Programming course, School of Engineering, USEK. (Fall 2026-2027)</p>
    </footer>
</body>
</html>

