<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History of the Web</title>
</head>
<body>
    <header>
        <h1>History of the Web</h1>
        <p>Key milestones in the development of the web.</p>
    </header>


    <nav>
     <a href="index.html">Home</a> |
     <a href="internet-history.html">History of the Internet</a> |
     <a href="web-history.html">History of the Web</a> |
    </nav>

   <main>
<section> 
    <h2>Introduction</h2>
<p>The World Wide Web is an information system built on top of the Internet, giving users the ability to access and link documents and resources through web browsers. It was created at CERN by Tim Berners-Lee and developed using core technologies such as HTML, HTTP, and URLs. It began as a tool for sharing scientific information and has evolved into a dynamic platform that supports communication, applications, and commerce.</p>

</section>
<section>
    <h2>Key Milestones in the History of the Web</h2>
<article> 
<h3>1945 - Memex Information System </h3>
<p>The memex, first proposed by Vannevar Bush in his 1945 essay "As We May Think," is a theoretical device that aimed to enhance human memory and knowledge by allowing people to store and recall information in a mechanical way. </p>

<a href="https://www.ejsit-journal.com/index.php/ejsit/article/view/287">How Vannevar Bush's Memex and Ted Nelson's Hypertext Shaped Information Science and the Internet</a>
</article>
<article> 
<h3>1965 - Hypertext</h3>
<p>In 1965, Ted Nelson published “Complex Information Processing : A file Structure for the Complex , the Changing , and the Indeterminate”. In this paper Nelson coined the term hyper text and hypermedia to refer to features of a computerized information system. Hypertext became oneof the Web's foundational concepts.  </p>

<a href="https://historyofinformation.com/detail.php?id=830">Ted Nelson - History of Information</a>
</article>
<article> 
<h3>1980 - ENQUIRE</h3>
<p>ENQUIRE was a software project written in 1980 by Tim LEE at CERN , which was the predecessor to the world wide web It was a simple hypertext program that had some of the same ideas as the Web and the Semantic web but was different in several important ways.</p>

<a href="https://everything.explained.today/ENQUIRE/">ENQUIRE - Everything Explained Today</a>
</article>
<article> 
<h3>1989 - Berners-Lee's Proposal</h3>
<p>In 1989, Berners-Lee submitted Information Management: A Proposal at CERN, the proposal described a global hypertext system for connecting and sharing information between computers. It is generally considered the beginning of the World Wide Web.</p>

<a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/?utm_source=">The birth of the Web – Home | CERN</a>
</article>
<article> 
<h3>1990 - Web Proposal</h3>
<p>In 1990, Berners-Lee and Robert Cailliau formalized the Web proposal. Berners-Lee then developed the first browser, server, and website. This transformed the Web from a proposal into a functioning system based on HTML, HTTP and URLs.</p>

<a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/?utm_source=">The birth of the Web – Home | CERN</a>
</article>
<article> 
<h3>1990 - First Web Server</h3>
<p>The first web server, httpd, and browser-editor, WorldWideWeb, became operational at CERN. The server delivered documents, while the browser allowed users to view and edit linked information. The first website was created at info.cern.ch.
It explained the World Wide Web project and provided instructions for creating servers and webpages.</p>

<a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/?utm_source=">The birth of the Web – Home | CERN</a>
</article>
<article> 
<h3>1991 - Public Release</h3>
<p>In 1991, Berners-Lee announced the Web project to Internet discussion groups. The Web became available beyond CERN, allowing researchers and programmers elsewhere to create servers and websites.</p>

<a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/?utm_source=">The birth of the Web – Home | CERN</a>
</article>
<article> 
<h3>1993 - Mosaic Browser</h3>
<p>In 1993, The National Center for Supercomputing Applications released the Mosaic browser, its graphical and relatively user-friendly interface helped make the Web accessible to people outside technical research communities.</p>

<a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/?utm_source=">The birth of the Web – Home | CERN</a>
</article>
<article> 
<h3>1993 - Web in Public Domain</h3>
<p> CERN placed its Web software in the public domain. Organizations and individuals could use and improve Web technology without paying royalties, supporting rapid and open adoption </p>

<a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/?utm_source=">The birth of the Web – Home | CERN</a>
</article>
<article> 
<h3>1994 - W3C Founded</h3>
<p>In October 1994, Sir Tim Berners-Lee founded the World Wide Web Consortium (W3C) at the Massachusetts Institute of Technology, Laboratory for Computer Science [MIT/LCS] in collaboration with CERN, where the Web originated with support from DARPA and the European Commission.  W3C coordinated open Web standards so that websites could work across different browsers, computers, and organizations.</p>

<a href="https://www.w3.org/about/history/">History | About us | W3C</a>
</article>
<article> 
<h3>1994 - Netscape Navigator</h3>
<p>Netscape Navigator was released. It helped bring the Web into homes and businesses and became one of the first widely used commercial browsers.</p>

<a href="https://www.computerhistory.org/revolution/the-web/20/391">Servers: Hidden Engines of the Web - CHM Revolution</a>
</article>
<article> 
<h3>1995 - JavaScript</h3>
<p>In 1995, JavaScript was developed at Netscape, which allowed webpages to respond to users and change dynamically, helping the Web evolve from static documents into interactive applications.</p>

<a href="https://tc39.es/ecma262/">ECMAScript® 2027 Language Specification</a>
</article>
<article> 
<h3>1995 - Internet Explorer</h3>
<p>Microsoft released Internet Explorer. The competition between Internet Explorer and Netscape accelerated browser development, although incompatible features also created problems for Web developers.</p>

<a href="https://www.britannica.com/technology/Internet-Explorer">Internet Explorer - Britannica</a>
</article>
<article> 
<h3>1996 - CSS</h3>
<p>In 1996, W3C published CSS Level 1 as a Web standard, CSS separated a webpage’s presentation—such as fonts, colors, and margins—from its HTML content, making website design more flexible and consistent. </p>

<a href="https://www.w3.org/TR/REC-CSS1-961217?utm_source=">Cascading Style Sheets, level 1</a>
</article>
<article> 
<h3>1996 - Website Saving</h3>
<p>The Internet Archive began preserving websites, ensuring that Webpages could be accessed even if they changed or disappeared; Web archiving made it possible to preserve part of the Web’s historical record.</p>

<a href="https://archive.org/about/">About IA</a>
</article>
<article> 
<h3>1997 - JavaScript Standards</h3>
<p>1997, JavaScript was standardized internationally as ECMAScript. Standardization gave browser developers a common specification for implementing the language.</p>

<a href="https://tc39.es/ecma262/">ECMAScript® 2027 Language Specification</a>
</article>
<article> 
<h3>1998 - Google Founded</h3>
<p>In 1998, Google was founded. Its link-based search and ranking methods helped users find relevant pages as the Web expanded rapidly.</p>

<a href="https://about.google/company-info/our-story/?utm_source=">How we started and where we are today - Google - About Google</a>
</article>
<article> 
<h3>1999 - Web Content Accessibility Guidelines (WCAG) </h3>
<p>1999, W3C published the Web Content Accessibility Guidelines 1.0, The guidelines established recommendations for making Web content more accessible to people with disabilities. </p>

<a href="https://www.w3.org/TR/WAI-WEBCONTENT/">Web Content Accessibility Guidelines 1.0</a>
</article>
<article> 
<h3>2001 - Wikipedia </h3>
<p>Wikipedia was launched, it demonstrated that large communities could collaboratively create and maintain knowledge directly through the Web.</p>

<a href="https://meta.wikimedia.org/wiki/Wikipedia_timeline">Wikipedia timeline - Meta-Wiki</a>
</article>
<article> 
<h3>2001 - WayBack Machine </h3>
<p> The Wayback Machine became publicly accessible, it allowed users and researchers to access archived versions of websites and study how the Web changed over time.  </p>

<a href="https://librarytechnology.org/document/9384">Internet Archive - Wayback Machine</a>
</article>
<article> 
<h3>2004 - WHATWG </h3>
<p>In 2004, The WHATWG was formed to continue developing HTML and Web-application technologies. Its work helped move HTML toward features needed for interactive applications, eventually contributing to HTML5.</p>

<a href="https://whatwg.org/faq">FAQ — WHATWG</a>
</article>
<article> 
<h3>2004-2006 - Facebook, YouTube </h3>
<p> Between 2004-2006, Facebook and YouTube appeared during the expansion of social media. The Web increasingly became a platform where ordinary users created, shared, and discussed content.</p>

<a href="https://www.meta.com/about/company-info/?utm_source=about.meta.com&utm_medium=redirect">Company Info</a>
</article>
<article> 
<h3>2005 - Google Maps </h3>
<p>In 2005, Google Maps introduced a highly interactive browser-based mapping experience. It demonstrated how Web technologies could deliver application-like experiences without traditional desktop software. </p>

<a href="https://blog.google/products-and-platforms/products/maps/"> Official Google Maps news and updates | Google Blog</a>
</article>
<article> 
<h3>2007 - iPhone </h3>
<p>In 2007,the iPhone brought a capable web browser to a widely adopted mobile device, This helped accelerate the transition from a desktop-centred Web to a mobile Web. </p>

<a href="https://www.apple.com/newsroom/2007/01/09Apple-Reinvents-the-Phone-with-iPhone/">Apple Reinvents the Phone with iPhone - Apple</a>
</article>
<article> 
<h3>2008 - Google Chrome </h3>
<p>In 2008, Google chrome was released. Chrome intensified browser competition and emphasized speed, security, and support for complex Web applications. </p>

<a href="https://blog.google/">Google Chrome - A Fresh Take on the Browser</a>
</article>
<article> 
<h3>2014 - HTML5 </h3>
<p>In 2014, W3C published HTML5 as a formal recommendation. HTML5 added standardized support for audio, video, graphics, and application features, reducing dependence on browser plug-ins. </p>

<a href="https://html.spec.whatwg.org/multipage/">HTML Standard</a>
</article>
<article> 
<h3>Between 2015 and 2016 - Let's Encrypt certificates </h3>
<p>Let’s Encrypt began providing free, automated security certificates. It reduced the cost and difficulty of implementing HTTPS, helping encrypted Web connections become common.  </p>

<a href="https://letsencrypt.org/about/">About Let's Encrypt</a>
</article>
<article> 
<h3>2019 - Single version of HTML </h3>
<p> W3C and WHATWG agreed to collaborate on a single version of HTML. This reduced conflict between competing HTML specifications and established the continuously updated HTML Living Standard.  </p>

<a href="https://www.w3.org/news/2019/w3c-and-the-whatwg-have-just-signed-an-agreement-to-collaborate-on-the-development-of-a-single-version-of-the-html-and-dom-specifications/">W3C and the WHATWG signed an agreement to collaborate on a single version of HTML and DOM | 2019 | News | W3C</a>
</article>
<article> 
<h3>2020 - Progressive Web Apps </h3>
<p> Progressive Web Apps, browser-based collaboration, streaming and cloud applications continued expanding. The browser increasingly became a platform for software that once required separate desktop programs. </p>

<a href="https://www.w3.org/groups/wg/webapps/">Web Applications | Working Groups | Discover W3C groups | W3C</a>
</article>

<section>
    <h2>Three Key Technologies of the Web</h2>
    <h3>HTML</h3>
    <p> HTML defines the structure and content of web pages.</p>
    <h3>HTTP</h3>
    <p> HTTP allows web browsers and servers to communicate and exchange information.</p>
    <h3>URL</h3>
    <p> A URL provides the address used to locate and access resources on the Web.</p>

    </section>
</main>

    <footer>
        <p>Web Programming — built with Flask and deployed on Render.</p>
        <p>This website is created for educational purposes only, as part of the GIN446 - Web Programming course, School of Engineering, USEK. (Fall 2026-2027)</p>
    </footer>
</body>
</html>


